@import "container.css";

.card {
  --base-hue: 320deg;
  --distance: -12deg;

  --color-a: hsl(var(--base-hue), 100%, 50%);
  --color-a-dk: hsl(var(--base-hue), 100%, 30%);

  --color-b: hsl(calc(var(--base-hue) + (var(--distance) * 2)), 100%, 50%);
  --color-b-dk: hsl(calc(var(--base-hue) + (var(--distance) * 2)), 100%, 30%);

  --color-c: hsl(calc(var(--base-hue) + (var(--distance) * 3)), 100%, 50%);
  --color-c-dk: hsl(calc(var(--base-hue) + (var(--distance) * 3)), 100%, 30%);

  --color-d: hsl(calc(var(--base-hue) + (var(--distance) * 3)), 100%, 50%);
  --color-e: hsl(calc(var(--base-hue) + (var(--distance) * 4)), 100%, 50%);
  --color-f: hsl(calc(var(--base-hue) + (var(--distance) * 5)), 100%, 50%);
  --color-g: hsl(calc(var(--base-hue) + (var(--distance) * 6)), 100%, 50%);

  background: linear-gradient(
      180deg,
      var(--color-a-dk),
      var(--color-b-dk),
      var(--color-c-dk)
    )
    0 0 / 100% 100%;
  padding: 2rem;
  border-radius: 0.5rem;
}

.heading {
  color: var(--color-a);
}

.item--create svg {
  color: var(--color-c-lt);
}

.item--create {
  color: var(--color-c);
}

.item--post svg {
  color: var(--color-d);
}

.item--post {
  color: var(--color-e);
}

.item--inspire svg {
  color: var(--color-f);
}

.item--inspire {
  color: var(--color-g);
}

button {
  color: red;
}
