@import "container.css";

.card {
  --base-hue: 310deg; /* Hot pink */
  --distance: 90deg;

  --color-a: hsl( var(--base-hue), 100%, 50% );
  --color-b: hsl( calc( var(--base-hue) + var( --distance ) ), 100%, 50% );
  --color-c: hsl( calc( var(--base-hue) + ( var( --distance ) * 2 ) ), 100%, 50% );
  --color-d: hsl( calc( var(--base-hue) + ( var( --distance ) * 3 ) ), 100%, 50% );

background-color: #120d2b;
padding: 4rem;
border-radius: .5rem;
}

.heading {
color: var(--color-a);
}



.item--create {
color: #554242;
}

.item--post {
color: #330000;
}

.item--inspire {
color: #330000;
}

.item--inspire span {
color: green;
}

.card svg {
color: red;
}

button {
color: red;
}

